*{
    --color-primary: rgba(1, 179, 227);
    --color-secundary: rgb(0, 55, 100);
}




body {
    width: 100%;
    height: 100vh !important;
    margin: 0;
    padding: 0;
    background: url(../img/fondo-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

/* LOGO */

.logo{
    width: 50%;
    text-align: center;
    margin: auto;
}

.logo img {
    width: 20%;
}


/* FORMULARIO */

.formulario {
    width: 50% !important;
    
    margin:7% auto;
    margin-right: 10%;

    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 20px 0 rgba(202, 207, 211, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.formulario_titulo{
    text-align: center;
    color: #fff;
}

.formulario_titulo h1{
    font-weight: 900;
    color: var(--color-primary);
    font-size: 8vh;
}

.formulario form p {
    color: #fff;
    margin-top: 5%;
    text-align: right;
}

.formulario form p a{
    text-decoration: none;
    color: var(--color-primary);
}

input[type="text"],
input[type="password"],
input[type="confirm_password"] {
    border: none;
    background: rgba(230, 232, 233, 0.219);
}

.form-group{
    outline: none;
    padding: auto;
    font-size: 3vh;
    display: block;
    width: 80%;
    border-radius: 5px;
    color: #fff;
    margin: auto;
    margin-top: 5%;
}

input[type="submit"] {
    color: #fff;
    background:var(--color-secundary);
    width: 50%;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin: auto 25% !important;
    text-align: center;
    
}

input[type="submit"]:hover {
    background:rgba(1, 179, 227, 0.37);
}

.help-block{
    color:tomato;
}

/* FORMULARIO DE REGISTRO */

.formulario-register {
    width: 40% !important;
    margin:4% auto;
    margin-right: 10%;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 20px 0 rgba(202, 207, 211, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
}

.form-group_register{
    outline: none;
    padding: auto;
    font-size: 3vh;
    display: block;
    width: 80%;
    border-radius: 5px;
    color: #fff;
    margin: auto;
    margin-top: 5%;
}

.formulario-register form p a{
    text-decoration: none;
    color: var(--color-primary);
    margin-right: 15px;
}





@media only screen and (max-width:880px) {
    body {
        display: block;
        height: 100vh !important;
    }

    .logo img{
        width: 20vh !important;
    }

    .formulario{
        width: 80% !important;
        margin: 6% auto;
        
    }
}



@media only screen and (max-width:480px){
    .logo img  {
        width: 15vh !important;
    }

    .formulario-register form p {
        font-size: 2vh;
        padding: 3vh 0;
    }
} 